<%- include('../partials/header', {title: 'Soldiers Construções - Blog' }) %>

    <div class="Subheader">
        <div class="sub-title-content">
            <div class="sub-title">
                <h4>Blog</h4>
            </div>
            <div class="sub-pagination">
                <a href="/">Home</a>
                <i class="fa-solid fa-angle-right"></i>
                <span>Blog</span>
            </div>
        </div>
        <img src="/img/slide/slide03.png" alt="">
    </div>

    <div class="container-post-blog">
        <% publications.forEach(publication =>{ %>
            <div class="content-post-blog">
                <div class="post-img-blog">
                    <img src="/upload/publication/<%= publication.id %>/<%= publication.nameImage %>" alt="">
                </div>
                <div class="blog-text">
                    <div class="post-title-blog">
                        <h3>
                            <%= publication.title %>
                        </h3>
                    </div>
                    <div class="post-description">
                        <div remove-tag>
                            <%- publication.previewText + "..." %>
                        </div>
                    </div>
                    <div class="post-more">
                        <a href="/post/<%= publication.d %>/<%= publication.t %>/<%= publication.slug %>">Ver mais...</a>
                    </div>
                </div>
            </div>
            <% }) %>

    </div>


    <%- include('../partials/footer.ejs') %>