<%- include('../partials/header', {title: 'Soldiers Construções - Empreendimentos' }) %>

    <div class="Subheader">
        <div class="sub-title-content">
            <div class="sub-title">
                <h4>Empreendimentos</h4>
            </div>
            <div class="sub-pagination">
                <a href="/">Home</a>
                <i class="fa-solid fa-angle-right"></i>
                <span>Empreendimentos</span>
            </div>
        </div>
        <img src="/img/slide/slide03.png" alt="">
    </div>

    <div class="container-post">
        <% publications.forEach(publication =>{ %>
            <div class="content-post">
                <div class="post-img">
                    <img src="/upload/publication/<%= publication.id %>/<%= publication.nameImage %>" alt="">
                </div>
                <div class="post-title">
                    <h3>
                        <b><%=  publication.title [0].toUpperCase() + publication.title .slice(1).toLowerCase().substring(0,59) %></b>
                    </h3>
                </div>
                <div class="post-description">
                    <%- publication.previewText + "..." %>
                </div>
                <div class="post-more">
                    <a href="/post/<%= publication.d %>/<%= publication.t %>/<%= publication.slug %>">Ver mais...</a>
                </div>
            </div>
            <% }) %>

    </div>


    <%- include('../partials/footer.ejs') %>