<%- include('../partials/header', {title: 'Soldiers Construções' }) %>



    <div class="publication-container">

        <div class="publication-content">
            <div class="publication-title">
                <h2>
                    <%= publication.title %>
                </h2>
                <span><i class="fa-regular fa-clock"></i>  <%= publication.createdAt.toLocaleString() %></span>
            </div>
            <div class="publication-img">
                <img src="/upload/publication/<%= publication.id %>/<%= publication.nameImage %>" alt="">
            </div>
            <div class="publication-text">
                <%- publication.text %>
            </div>
        </div>


        <div class="others-publication">
            <h1>Veja também</h1>
            <div>

                <% toPublication.forEach(publication=>{%>
                    <div class="others-publication-content">
                        <div class="others-publication-img">
                            <img src="/upload/publication/<%= publication.id %>/<%= publication.nameImage %>" alt="">
                        </div>
                        <div class="others-publication-title">
                            <a href="/post/<%= publication.d %>/<%= publication.t %>/<%= publication.slug %>">
                                <h2>
                                    <%= publication.title %>
                                </h2>
                            </a>
                            <span><i class="fa-regular fa-clock "></i>  <%= publication.createdAt.toLocaleString() %></span>
                        </div>
                    </div>
                    <%})%>

            </div>
        </div>

    </div>


    <%- include('../partials/footer.ejs') %>