<%- include('../admin/partials/header', {title: 'Soldiers Construções' }) %>
    <main id="home">
        <%- include('../admin/partials/user') %>
            <!-- DESC PAGE -->
            <div class="titlePage">
                <div class="titlePage-container">
                    <h1>Dashboard</h1>
                    <span>Nessa página você tem uma visão geral da sua aplicação</span>
                </div>
            </div>
            <!-- CARDS -->
            <div class="dashboard-cards">
                <div class="dashboard-card-Container">
                    <!-- card-item -->
                    <div class="dashboard-card-item">
                        <ion-icon name="wallet-outline"></ion-icon>
                        <div class="desc-cards">
                            <p>Total faturado</p>
                            <span><%= financials[0].total.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }); %></span>
                        </div>
                    </div>
                    <!-- card-item -->
                    <div class="dashboard-card-item">
                        <ion-icon name="people-outline"></ion-icon>
                        <div class="desc-cards">
                            <p>Total Usuarios</p>
                            <span><%= users.length <= 9 ? `0${users.length}` : users.length %> </span>
                        </div>
                    </div>
                    <!-- card-item -->
                    <div class="dashboard-card-item">
                        <ion-icon name="send-outline"></ion-icon>
                        <div class="desc-cards">
                            <p>Total Posts</p>
                            <span><%= publications.count <= 9 ? `0${publications.count}` : publications.count %> </span>
                        </div>
                    </div>
                    <!-- card-item -->
                    <div class="dashboard-card-item">
                        <ion-icon name="logo-apple-ar"></ion-icon>
                        <div class="desc-cards">
                            <p>Total Projetos</p>
                            <span><%= projetos.length <= 9 ? `0${projetos.length}` : projetos.length %> </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- USUARIOS -->
            <div class="list-container">
                <div class="list-content">
                    <div class="list-title">
                        <h4>Ultimos usuários cadastrados</h4>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>E-mail</th>
                                <th>Nivel</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach((user)=> { %>
                                <tr>
                                    <td>
                                        <div class="client-content">
                                            <div class="client-img">
                                                <img src="/img/user.png" alt="imagem-usuario">
                                            </div>
                                            <p>
                                                <%= user.name %>
                                            </p>
                                        </div>
                                    </td>
                                    <td>
                                        <%= user.cpf %>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <%= user.level == 0 ? 'Cliente' : 'Admin' %>
                                    </td>

                                    <td>
                                        <% if(user.status == 0) { %>

                                            <div class="client off">
                                                <ion-icon name="close-circle-outline"></ion-icon>
                                                <p>Inativo</p>
                                            </div>

                                        <%  } else { %> 
                                            
                                            <div class="client on">
                                                <ion-icon name="close-circle-outline"></ion-icon>
                                                <p>Ativo</p>
                                            </div>

                                                <% } %>

                                    </td>

                                </tr>
                                <% })%>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- TRASAÇÕES E POSTS -->
            <section class="trasactions-posts">
                <div class="trasactions-posts-container">
                    <div class="trasactions-container">                        
                        <div class="list-container">
                            <div class="list-content">
                                <div class="list-title">
                                    <h4>Transações recentes</h4>
                                </div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>OrdemID</th>
                                            <th>CPF</th>
                                            <th>Valor</th>                                
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr>
                                           <td>SOL5457445</td>
                                           <td>8529568269</td>
                                           <td>R$852,00</td>

                                           <td>
                                            <div class="client on">
                                                <ion-icon name="checkmark-circle-outline"></ion-icon>
                                                <p>Aprovado</p>
                                            </div>
                                           </td>
                                       </tr>
                                       <tr>
                                        <td>SOL5457445</td>
                                        <td>8529568269</td>
                                        <td>R$852,00</td>

                                        <td>
                                            <div class="client pend">
                                                <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
                                                <p>Pendente</p>
                                            </div>                                                     
                                        </td>
                                    </tr>                                   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="posts-container">
                        <h4>Ultimos Posts</h4>
                        <div class="posts-content">
                            <% if(publications) { %> 
                                
                                <% publications.data.forEach((publication) => { %>
                                    <div class="posts-item">
                                        <div class="img-post">
                                            <img src="/upload/publication/<%= publication.id %>/<%= publication.nameImage %>" alt="">
                                        </div>
                                        <div class="desc-post">
                                            <p><%= publication.title %> </p>
                                            <span><%= publication.previewText %> </span>
                                        </div>
                                    </div>
                                <% }) %> 

                            <% } else { %> 
                                <p>Sem publicações cadastradas</p>
                            <%  } %> 
                        </div>
                    </div>
                </div>
            </section>



    </main>
    <%- include('../admin/partials/footer.ejs') %>