<%- include('../admin/partials/header', {title: 'Soldiers Construções' }) %>

    <main id="publications">
        <%- include('../admin/partials/user') %>
            <div class="titlePage">
                <div class="titlePage-container">
                    <h1>Publicações</h1>
                    <span>Veja todas as publicações cadastradas</span>
                </div>
            </div>

            <div class="action-container">
                <div class="action-content">
                    <div class="action-info">
                        <span><%= total %> registros</span>
                    </div>
                    <div class="action-press">
                        <div>
                            <select name="" id="">
                                <option value="">Todos registros</option>
                            </select>
                        </div>
                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text">
                        </div>
                        <button onclick="newModal('post')"><i class="fa-solid fa-plus"></i> Criar publicação</button>
                    </div>
                </div>
            </div>

            <form method="post" action="/admin/nova/publicacao" enctype="multipart/form-data">
                <div new-modal-post class="new-modal-container">
                    <i close-post class="fa-solid fa-xmark modal-modal-close"></i>
                    <div class="new-modal-content ">
                        <div class="new-modal-header">
                            <h2>Nova publicação</h2>
                            <div class="btn-modal">
                                <button publicar onclick="loading(event)">Publicar</button>
                            </div>
                        </div>
                        <div class="new-modal-main">
                            <div class="entry-content">
                                <div class="entry-value entry-bd-1">
                                    <i class="fa-solid fa-file-signature"></i>
                                    <input required type="text" name="title" placeholder="Título">
                                </div>
                                <div class="entry-value entry-bd-1">
                                    <i class="fa-solid fa-table-list"></i>
                                    <select name="category" id="">
                                        <option value="">Categoria</option>
                                        <option value="blog">Blog</option>
                                        <option value="empreendimentos">Empreendimentos</option>
                                        <option value="projetos-futuros">Projetos futuros</option>
                                    </select>
                                </div>
                                <div class="entry-value entry-bd-1">
                                    <i class="fa-solid fa-image"></i>
                                    <label class="upload-file" for="image">
                                        Carregar... <span log-arq></span>
                                    </label>
                                    <input oninput="onLoadFile(event)" class="display-none" required id="image" type="file" name="file">
                                </div>
                            </div>
                            <textarea id="post" name="text"></textarea>
                        </div>
                    </div>
                </div>
            </form>

            <div class="list-container">

                <div class="list-content">
                    <div class="list-title">
                        <h4>Todas as publicações cadastradas</h4>
                    </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Imagem</th>
                                <th>Categoria</th>
                                <th>Título</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% publications.forEach(publication=>{ %>
                                <tr>
                                    <td>
                                        <div class="list-img">
                                            <div class="client-img">
                                                <img src="/upload/publication/<%= publication.id %>/<%= publication.nameImage %>" alt="">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <%= publication.category %>
                                    </td>
                                    <td>
                                        <%= publication.title %>
                                    </td>
                                    <td>
                                        <div class="more-option-container">
                                            <i class="fas fa-ellipsis-v btn-option"></i>
                                            <div class="more-option">
                                                <a href=""><button>Editar</button></a>
                                                <button>Excluir</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>


            <% if(message !="" ) {%>
                <div class="alert alert-<%= type %>">
                    <span>
                        <%= message %>
                    </span> <i onclick="closeAlert(event)" class="fa-solid fa-xmark"></i>
                </div>
                <% } %>

    </main>

    <%- include('../admin/partials/footer.ejs') %>

        <script src="/lib/tinymce/tinymce.min.js "></script>
        <script src="/js/tinymceConfig.js"></script>
        <script src="/js/modal.js "></script>
        <script src="/js/loading.js"></script>
        <script src="/js/fileLoad.js"></script>
        <script src="/js/Alert.js"></script>