<%- include('../admin/partials/header', {title: 'Soldiers Construções' }) %>
    <main id="publications">
        <%- include('../admin/partials/user') %>
            <%- include('../admin/partials/modalDel') %>

                    <div class="titlePage">
                        <div class="titlePage-container">
                            <h1>Publicações</h1>
                            <span>Veja todas as publicações cadastradas</span>
                        </div>
                    </div>
                    <!-- Filtros -->
                    <form method="get">
                        <div class="action-container">
                            <div class="action-content">
                                <div class="action-info">
                                    <span>
                                    <%= publications.length %> registros
                                </span>
                                </div>
                                <div class="action-press">
                                    <% if(Object.keys(query).length> 0){%>
                                        <span onclick="window.location.href='/admin/publicacao'" class="clear-search">
                                        <ion-icon name="close-circle-outline"></ion-icon>
                                    </span>
                                        <% }%>
                                            <div>
                                                <select name="category" id="">
                                                <option value="">Todas categoria</option>
                                                <option <%=query.category=="projetos-futuros" ?" selected" :""%> value="projetos-futuros">Projetos futuros</option>
                                                <option <%=query.category=="blog" ?" selected" :""%> value="blog">Blog </option>
                                                <option <%=query.category=="empreendimentos" ?" selected" :""%> value="empreendimentos">Empreendimentos</option>
                                            </select>
                                            </div>
                                            <div>
                                                <input value="<%= query.title %>" name="title" type="text" placeholder="Título da publicação">
                                                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                                            </div>
                                            <button type="button" onclick="newModal()"><i class="fa-solid fa-plus"></i> Criar publicação</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- modal de nova publicação -->
                    <form method="post" action="/admin/nova/publicacao" enctype="multipart/form-data">
                        <div new-modal class="new-modal-container">
                            <i close-modal class="fa-solid fa-xmark modal-modal-close"></i>
                            <div class="new-modal-content">
                                <div class="new-modal-header">
                                    <h2>Nova publicação</h2>
                                    <div class="btn-modal">
                                        <button publicar onclick="loading(event)">Publicar</button>
                                    </div>
                                </div>
                                <div class="new-modal-main">
                                    <div class="entry-content">
                                        <div class="entry-value entry-bd-1">
                                            <i class="fa-solid fa-file-signature"></i>
                                            <input required type="text" name="title" placeholder="Título">
                                        </div>
                                        <div class="entry-value entry-bd-1"><i class="fa-solid fa-table-list"></i>
                                            <select name="category" id="">
                                            <option value="">Categoria</option>
                                            <option value="blog">Blog</option>
                                            <option value="empreendimentos">Empreendimentos</option>
                                            <option value="projetos-futuros">Projetos
                                                futuros</option>
                                        </select>
                                        </div>
                                        <div class="entry-value entry-bd-1">
                                            <i class="fa-solid fa-image"></i>
                                            <label class="upload-file" for="image">Carregar... <span log-arq></span></label>
                                            <input oninput="onLoadFile(event)" class="display-none" required id="image" type="file" name="file">
                                        </div>
                                    </div>
                                    <textarea id="post" name="text"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- modal de edição -->
                    <div new-modal-edit class="new-modal-container">
                        <i close-edit class="fa-solid fa-xmark modal-modal-close"></i>
                        <div class="new-modal-content">
                            <div class="new-modal-header">
                                <h2>Editar publicação</h2>
                                <div class="btn-modal">
                                    <button publicar onclick="loading(event)">Publicar</button>
                                </div>
                            </div>
                            <div class="new-modal-main">
                                <div class="entry-content">
                                    <div class="entry-value entry-bd-1">
                                        <i class="fa-solid fa-file-signature"></i>
                                        <input required type="text" name="title" placeholder="Título">
                                    </div>
                                    <div class="entry-value entry-bd-1"><i class="fa-solid fa-table-list"></i>
                                        <select name="category" id="">
                                            <option value="">Categoria</option>
                                            <option value="blog">Blog</option>
                                            <option value="empreendimentos">Empreendimentos</option>
                                            <option value="projetos-futuros">Projetos
                                                futuros</option>
                                        </select>
                                    </div>
                                    <div class="entry-value entry-bd-1">
                                        <i class="fa-solid fa-image"></i>
                                        <label class="upload-file" for="image">Carregar... <span log-arq></span></label>
                                        <input oninput="onLoadFile(event)" class="display-none" required id="image" type="file" name="file">
                                    </div>
                                </div>
                                <textarea id="edit" name="text"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- listagem das publicações -->
                    <div id="publicacao" class="list-container">
                        <div class="list-content">
                            <div class="list-title">
                                <h4>Todas as publicações cadastradas</h4>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Imagem</th>
                                        <th>Categoria</th>
                                        <th>Título</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% publications.forEach(publication=>{%>
                                        <tr>
                                            <td>
                                                <div class="list-img">
                                                    <div class="client-img">
                                                        <img src="/upload/publication/<%= publication.id %>/<%= publication.nameImage %>" alt="">
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <%= publication.category %>
                                            </td>
                                            <td>
                                                <%= publication.title %>
                                            </td>
                                            <td class="teste">
                                                <div class="more-option-container">
                                                    <i class="fas fa-ellipsis-v btn-option"></i>
                                                    <div class="more-option">
                                                        <button onclick="newModalEdit(`<%=publication.id%>`)">Editar</button>
                                                        <button id="<%=publication.id %>" modal-del-btn>Excluir</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                   <!--  mensagem  -->
                    <% if(message !="" ) {%>
                        <div class="alert alert-<%= type %>">
                            <span>
                            <%= message %>
                        </span> <i onclick="closeAlert(event)" class="fa-solid fa-xmark"></i>
                        </div>
                        <% } %>

    </main>

    <%- include('../admin/partials/footer.ejs') %>

        <script src="/lib/tinymce/tinymce.min.js"></script>
        <script src="/js/tinymceConfig.js"></script>
        <script src="/js/modalNew.js"></script>
        <script src="/js/loading.js"></script>
        <script src="/js/fileLoad.js"></script>
        <script src="/js/Alert.js"></script>
        <script src="/js/modalDel.js"></script>
        <script src="/js/modalEditPublication.js"></script>