<%- include('../admin/partials/header', {title: 'Soldiers Construções' }) %>

    <main id="users">
        <%- include('../admin/partials/user') %>
            <%- include('../admin/partials/modalDel') %>
                <div class="titlePage">
                    <div class="titlePage-container">
                        <h1>Usuários</h1>
                        <span>Usuários cadastrados</span>
                    </div>
                </div>
                <!-- Filtros e btns-->
                <div class="action-container">
                    <div class="action-content">
                        <div class="action-info">
                            <span>
                                <%= users.length %> usuarios
                            </span>
                        </div>
                        <div class="action-press">
                            <div>
                                <select name="" id="">
                                    <option value="">Todos registros</option>
                                </select>
                            </div>
                            <div>
                                <input name="title" type="text">
                                <button><i class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                            <button onclick="newModal()"><i class="fa-solid fa-plus"></i> Criar usuário</button>
                        </div>
                    </div>
                </div>
                <!-- modal de nova criação -->
                <form action="" method="post">
                    <div new-modal nancial class="new-modal-container">
                        <i close-modal class="fa-solid fa-xmark modal-modal-close"></i>
                        <div class="new-modal-content ">
                            <div class="new-modal-header">
                                <h2>Novo usuário</h2>
                            </div>
                            <div class="login-container">
                                <div class="login-entry">
                                    <div class="login-content-create ">
                                        <div class="login-input">
                                            <i class="fa-solid fa-user"></i>
                                            <input name="name" required type="text" placeholder="Nome">
                                        </div>
                                        <div class="login-input">
                                            <i class="fa-solid fa-envelope"></i>
                                            <input name="email" required type="email" placeholder="E-mail">
                                        </div>
                                        <div class="login-input">
                                            <i class="fa-solid fa-phone"></i>
                                            <input name="telephone" onkeyup="mascara('(##) ####-####',this,event,false)"
                                                maxlength="14" type="text" placeholder="Telefone">
                                        </div>
                                        <div class="login-input">
                                            <i class="fa-solid fa-location-dot"></i>
                                            <select name="uf" uf-select required import-city type="text"
                                                placeholder="uf" name="">
                                                <option value="">UF</option>
                                            </select>
                                        </div>
                                        <div city-select class="login-input display-none ">
                                            <i class="fa-solid fa-location-dot"></i>
                                            <select name="city" city-select-import required import-city type="text"
                                                placeholder="Cidade" name="" id="">
                                                <option value="">Cidade</option>
                                            </select>
                                        </div>
                                        <div class="login-input">
                                            <i class="fa-solid fa-id-card"></i>
                                            <input name="cpf" required
                                                onkeyup="mascara('###.###.###-##',this,event,false)" maxlength="14"
                                                type="text" placeholder="CPF">
                                        </div>
                                        <div class="login-input">
                                            <i class="fa-solid fa-id-card"></i>
                                            <input name="rg" required onkeyup="mascara('##.###.###-#',this,event,false)"
                                                maxlength="12" type="text" placeholder="RG">
                                        </div>
                                        <div class="login-input">
                                            <i class="fa-solid fa-lock"></i>
                                            <input name="password" required type="password" placeholder="Password">
                                            <i view-password class="fa-solid fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-modal">
                                <button publicar onclick="loading(event)">Criar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- modal de edição -->
                <form method="post" action="" id="edit">
                    <div new-modal-edit class="new-modal-container">
                        <i close-edit class="fa-solid fa-xmark modal-modal-close"></i>
                        <div class="new-modal-content">
                            <div class="new-modal-header">
                                <h2>Editar usuário</h2>
                            </div>
                            <div new-modal-import class="new-modal-main">
                                <div class="login-container">
                                    <div class="login-entry">
                                        <div class="login-content-create ">
                                            <div class="login-input">
                                                <i class="fa-solid fa-user"></i>
                                                <input name="name" required type="text">
                                            </div>
                                            <div class="login-input">
                                                <i class="fa-solid fa-envelope"></i>
                                                <input name="email" required type="email">
                                            </div>

                                            <div class="login-input">
                                                <i class="fa-solid fa-user-shield"></i>
                                                <select name="level" type="text">
                                                    <option value="0">Cliente</option>
                                                    <option value="1">Admin</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-modal" editModalSubmit>
                                <button publicar onclick="loading(event)">Atualizar</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- listagem dos dados -->
                <div id="usuarios" class="list-container">
                    <div class="list-content">
                        <div class="list-title">
                            <h4>Todas as publicações cadastradas</h4>
                        </div>
                        <table data-table-users>
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>E-mail</th>
                                    <th>Nivel</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% users.forEach((user)=> { %>
                                    <tr>
                                        <td>
                                            <div class="client-content">
                                                <div class="client-img">
                                                    <img src="/img/user.png" alt="imagem-usuario">
                                                </div>
                                                <p>
                                                    <%= user.name %>
                                                </p>
                                            </div>
                                        </td>
                                        <td>
                                            <%= user.cpf %>
                                        </td>
                                        <td>
                                            <%= user.email %>
                                        </td>
                                        <td>
                                            <%= user.level==0 ? 'Cliente' : 'Admin' %>
                                        </td>

                                        <td>
                                            <% if(user.status==0) { %>

                                                <div class="client off">
                                                    <ion-icon name="close-circle-outline"></ion-icon>
                                                    <p>Inativo</p>
                                                </div>

                                                <% } else { %>

                                                    <div class="client on">
                                                        <ion-icon name="close-circle-outline"></ion-icon>
                                                        <p>Ativo</p>
                                                    </div>

                                                    <% } %>

                                        </td>
                                        <td data-exclude="true">
                                            <div class="more-option-container">
                                                <i class="fas fa-ellipsis-v btn-option"></i>
                                                <div class="more-option">
                                                    <button btn-export>ASQUII</button>
                                                    <button onclick="newModalEdit(`<%= user.id %>`)">Editar</button>
                                                    <button id="<%= user.id %>" modal-del-btn>Excluir</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% })%>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--  mensagem  -->
                <% if(message !="" ) {%>
                    <div class="alert alert-<%= type %>">
                        <span>
                            <%= message %>
                        </span> <i onclick="closeAlert(event)" class="fa-solid fa-xmark"></i>
                    </div>
                    <% } %>
    </main>
    <%- include('../admin/partials/footer.ejs') %>

        <script>

            document.querySelector('[btn-export]').addEventListener('click', () => {

                alert('export');

                TableToExcel.convert(document.querySelector("table"), {
                    name: "table1.xlsx",
                    sheet: {
                        name: "Sheet 1"
                    }
                });

            });

        </script>


        <script src="/lib/tinymce/tinymce.min.js"></script>
        <script src="/js/modalExport.js"></script>
        <script src="/js/modalNew.js "></script>
        <script src="/js/loading.js"></script>
        <script src="/js/Alert.js"></script>
        <script src="/js/modalEditUsers.js"></script>
        <script src="/js/loginCreate.js"></script>
        <script src="/js/modalDel.js"></script>
        <script src="/js/mask.js"></script>
        <script src="/js/login.js"></script>        
        <script type="text/javascript" src="/js/tableToExcel.js"></script>